@page "/Account/ResetPasswordConfirmation"

<MudContainer Style="background-color: #353535">
    <br/>
    <PageTitle>Reset password confirmation</PageTitle>
    <MudText Typo="Typo.h3" GutterBottom="true">Your password has been reset.</MudText>
    <MudDivider/>
    <br/>
    <p>
        <a class="mud-link mud-primary-text mud-link-underline-hover" href="Account/Login">Please click here to log in</a>.
    </p>
    <br/>
</MudContainer>